.logo {
    width: 100px;
    border-radius: 60px;
    margin-top: 30px;
    margin-left: 20px;
    position: fixed;
}
.logo img {
    border-radius: 60px;
}
img {
    width: 65%;
    background-color: #E8FBFE ;
    padding: 5px;
    border-radius: 10px;
}
.head {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 150px;
    background-color: #cbebf0 ;
}
.type {
    float: right;
    margin-top: 14px;

}
h6 {
    margin: 0;
}
.typeamount {
    width: 75%;
    text-align: left;
}
header {
    background-color: #E8FBFE ;
    width: 100%;
    position: fixed;
    margin: auto;
    padding: 0px 20px;
    height: 60px;
  }
.list-group {
    border-radius: 10px;
    width: 100%;
 
}
.list-group-item {
    border: 0.1mm solid #f0f4f5;
}
.typeamount img {
    width: 27px;
    position: absolute;
    margin-left: 365px;
    margin-top: 11px;

}

.stats {
    width: 40%;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.items {
    padding: 10px;
    float: right;
    width: 100%;
  
    
}
.sidebuttons {
    margin-top: 150px;
}
.big-div {
    background-color: #E8FBFE;
    width: 530px;
    margin-top: 60px;
    margin-left: 700px;
    height: 430px;
    z-index: -1;
    position: absolute;
    scroll-behavior: smooth;
    overflow: auto;

}
.transactions{
    font-weight: bold;
    background-color: #E8FBFE;
    
    position: fixed;
    font-size: 5mm;
    color: #3b3d3d;
    padding-bottom: 13px;
    margin-left: 700px;
    
}
/* .colleft {
   width: 40%;
   position: fixed;
   margin-top: 70px;
}
.colright {
    width: 50%;  
    float: right; 
    margin-top: 100px;
    margin-right: 60px;
    padding: 20px;
    position: relative;
   
   
} */
.flex-container {
    display: flex;
    margin-top: 50px;
    position: relative;
   
   
}

.flex-child {
    flex: 1;
   

 
} 
.myChart {
    background-color: white;
    border-radius: 15px;
    margin-left: 190px;
    margin-top: 67px;
    position: fixed;
    width: 430px;
}
.leftContainer {
    width: 100%;
}

.income {
    width: 80px;
    border-radius: 25px;
    padding: 28px;
    background-color:  #3f8acf;
   
}

.expenses {
    width: 80px;
    border-radius: 25px;
    padding: 28px;
    background-color:  #3f8acf;
   
}

.mainInfo {
    background-color: white;
    border-radius: 15px;
    margin-top: 400px;
    margin-left: 190px;
    padding: 10px;
    height: 100px;
    width: 430px;
    position: fixed;

   
}
.addexpense {
    width: 80px;
    position: fixed;
    right: 80px;
    bottom: 60px;
}
.flex-child.green {
    display: grid;
    height: 556px;
    overflow: auto;


}
.mobileLinks {
    color: black;
    float: right;
    position: relative;
    display: none;
    
}
  
.links {
    color: white;


  
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .flex-child.green {
      width: 100%;
      float: left;
      position: fixed;
      margin-top: 60%;

    }
    .myChart {
        background-color: transparent;
        position: fixed;
        float: left;
    }
    .mobileLinks {
        display: inline;
        color: black;
    }
    .links {
        display: none;
    }
    .menubar {
        width: auto;
    }
    .entries {
        margin-left: 2%;
        margin-right: 2%;
    }
    .myChart {
        margin: 0;
        width: 100%;

    }
    .big-div {
        width: 100%;
        position: absolute;
        margin-top: 0;
    }
    .mainInfo {
        display: none;
    }
    .typeamount {
        width: 65%;
    }
    .typeamount img {
        width: 27px;
        position: absolute;
        margin-left: 205px;
        margin-top: 11px;
    
    }
  }