
img {
    width: 60%;
}
h6 {
    float: right;
}
.typeamount {
    width: 100%;
}
header {
    background-color: #00a2ed ;
    margin: auto;
    padding: 0px 24px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  }
